<div
  class="flex justify-between bg-gray-400 mx-4 rounded text-teal-500 font-bold"
>
  <div class="w-full">
    <h1 class="text-xl pl-5">{{ date | date }} {{ date | day }}</h1>
    <div class="flex-row">
      <div class="text-center">
        <label>Temperatura</label>
      </div>
      <div class="text-center pl-1">
        <h1>
          min: {{ dia.temperatura.minima }}º max: {{ dia.temperatura.maxima }}º
        </h1>
      </div>
    </div>
  </div>
  <div class="w-1/2 flex justify-center items-center">
    <img class="w-full h-full p-4" [src]="img" alt="imgTiempo" />
  </div>
</div>
