/* You can add global styles to this file, and also import other style files */
@tailwind base;

@tailwind components;

@tailwind utilities;

.swal-height {
  min-height: 70vh !important;
  text-align: center;
  display: flex;
  align-items: center;
}

.content-class {
  font-size: 2rem;
}
